extends layout

block content
  h2 Welcome to the Language Learner Pro!
  p Create, view, and manage your vocabulary flashcards.
  p This web application was created to fulfill Web Technology module’s requirements and does not represent an actual company or service
