doctype html
html
  head
    title Language Learner Pro
    link(rel="stylesheet", href="/styles/style.css")
  body
    header
      h1 Language Learner Pro
      nav
        a(href="/") Home
        a(href="/flashcards") Flashcards
    main
      block content
